# 📝 Configuration AgaShop (Backend)
# Copiez ce fichier sous le nom '.env' et changez les valeurs.

# Sécurité
SECRET_KEY=django-insecure-mettez-votre-cle-ici
DEBUG=True

# Synchronisation Base de données & Médias (Production ➔ Local)
# Générez un token très long et sécurisé à renseigner en production et en local
BACKUP_SYNC_TOKEN=mettez-votre-token-secret-de-synchronisation-ici

# Hôtes autorisés (séparés par des virgules)
ALLOWED_HOSTS=localhost,127.0.0.1,api.agashop.bi

# Configuration Email (cPanel)
EMAIL_HOST=mail.agashop.bi
EMAIL_PORT=465
EMAIL_HOST_USER=agashop@agashop.bi
EMAIL_HOST_PASSWORD=votre-mot-de-passe-ici
