# 📝 Configuration AgaShop (Backend)
# Copiez ce fichier sous le nom '.env' et ajustez vos paramètres.

# Sécurité
SECRET_KEY=django-insecure-mettez-votre-cle-ici
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com,api.agashop.bi

# Synchronisation Base de données & Médias (Production ➔ Local)
BACKUP_SYNC_TOKEN=AgaShopSync2026_x8F2kL9qP3vW5zY7

# Configuration Base de données (En local, SQLite est utilisé si DATABASE_URL n'est pas configuré)
# DATABASE_URL=postgresql://postgres.plihtjkucujoeewlzptb:VOTRE_MOT_DE_PASSE@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# Stockage Centralisé SDK (STORAGE_PROVIDER: SUPABASE_S3, GOOGLE_DRIVE, LOCAL)
STORAGE_PROVIDER=SUPABASE_S3

# Supabase Storage S3 Configuration
SUPABASE_S3_ENDPOINT_URL=https://plihtjkucujoeewlzptb.storage.supabase.co/storage/v1/s3
SUPABASE_S3_ACCESS_KEY_ID=a71032320e2c3943422999eb064131b4
SUPABASE_S3_SECRET_ACCESS_KEY=6dc8ebb6645090e8829ef61054600730be17c59138be5572c8703c107da87cb1
SUPABASE_S3_BUCKET_NAME=media
SUPABASE_S3_REGION_NAME=eu-west-1

# Backup Google Drive & Local Storage
LOCAL_STORAGE_BASE_PATH=media/sdk_storage
GOOGLE_APPLICATION_CREDENTIALS=credentials/google_credentials.json
GOOGLE_DRIVE_SHARED_DRIVE_ID=147Zk-UXa2Gh9i7XpGN4TerWSZwjjFO_c

# Configuration Email (cPanel)
EMAIL_HOST=mail.agashop.bi
EMAIL_PORT=465
EMAIL_HOST_USER=agashop@agashop.bi
EMAIL_HOST_PASSWORD=votre-mot-de-passe-ici
