*.pyc
*.pyd
????_*.py
*.sqlite3*
*.png
*.jpeg
*.jpg

**__pycache__

k_hosto_api/__pycache__/settings.cpython-310.pyc

/media
*.zip
/tmp
/dbt
*logs.txt
*errors.log
*errors.txt
*.bat
*.xlsx
/venv
# /migrations  <-- On ne l'ignore plus, Django en a besoin pour synchroniser la structure sur cPanel
